.form-wrapper {
  background: var(--white);
  padding: 40px;
  border-radius: var(--radius);
  box-shadow: var(--shadow);
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
  border: 1px solid var(--primary-light);
}

input,
textarea {
  width: 100%;
  padding: 15px;
  margin-bottom: 8px;
  border: 2px solid #eee;
  border-radius: 8px;
  font-family: inherit;
  font-size: 1rem;
  transition: border-color 0.3s;
}

input:focus,
textarea:focus {
  outline: none;
  border-color: var(--primary-med);
}

textarea {
  resize: vertical;
  min-height: 200px;
}

button {
  background: var(--primary-med);
  color: var(--white);
  border: none;
  padding: 15px;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
  font-size: 1rem;
  width: 100%;
  margin-top: 10px;
  transition: background 0.3s;
}

button:hover {
  background-color: var(--primary-dark);
}